

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration:none;
}

html{
    font-size:10px;
    scroll-behavior: smooth;
}

body{
    font-family:'Inter-Regular', sans-serif;
}

.page{
    width:60%;
    min-height:100vh;
    margin:0 auto;
    display:grid;
    grid-template-areas:"heading heading heading"
                         "main main sidebar";
    grid-template-columns: repeat(3, 1fr);
    gap:3rem;
}

.heading{
    grid-area:header;
    margin-top:9rem;
    margin-bottom:5rem;
}

.nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.nav-menu{
    display:flex;
    flex-direction:row;
    list-style:none;
}

.nav-item{
    padding:0 2rem;
    font-size:1.5rem;
}

.nav-item:last-child{
    padding-right:0;
}

.nav-link{
    font-family:'Inter-Bold', sans-serif;
    color: hsl(236, 13%, 42%);
    text-decoration:none;
    transition:all 300ms ease;
}

.nav-link:hover{
    color: hsl(5, 85%,63%);
}
